/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    /*width: auto;*/
    /*max-width: 1080px;*/
    *padding: 0 5px;
  }
  
  .footer {
    background-color: #5e5e5e;
    color: #ffffff;
    border-top: 5px solid #1ECDC0;
    border
  }
  
  